body {
  background: #833ab4;
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);

}

a {
  color: white;
}


.display-1 {
  color: white;
  margin-left: 15%;
  margin-bottom: -5%;
}

.c {
  height: 7px;
}
